@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@300&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  letter-spacing: 0.1em;

}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  padding: clamp(0px, 2vw, 20px);
  display: flex;
  align-items: center;
  max-width: 100vw;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d6d6d6;
}
.navbar h1 a{
  color: #245087;
  font-size: clamp(10px, 3vw, 32pt);
}

a {
  text-decoration: none;
}

.navbar .links {
  margin-left: auto;
}


.navbar a {
  margin-left: 1vw;
  text-decoration: none;
  padding: 6px;
  font-size: clamp(10px, 3vw, 20px);
}
.navbar a:hover {
  color: #245087;
}
.content {
  display: flex;
  flex: 1;
}

/* side bar styles */
.sidebar {
  display: grid;
  grid-template-rows: 2fr 3fr;
  
  background-color: #a4a2a2;
  
}

.sidebar>* {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-right: 2px solid gray;
  padding-left: 2vw;
  padding-right: 2vw;
}

.sidebar>.projects {
  border-top: 2px solid gray;
}

.sidebar ul {
  padding: 0px;
  padding-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.sidebar li, .sidebar p {
  color: #245087;
  font-weight: 600;
  font-size: clamp(0.1em, 3vw, 1.25em);
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.sidebar .project-tag {
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

/* task lits styles */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: #FFFF8F;
}

.home div {
  font-family: 'Indie Flower';
  font-size: larger;
}

.home>.card-container {
  width: 90%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home>.card-container>.card {
  display: grid;
  width: 90%;
  height: 2.5em;
  grid-template-columns: .25fr 3fr 1fr 1fr;
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 1vw;
  font-weight: 600;
  overflow: hidden;
}

.home>.card-container>.card>:first-child {
  display: flex;
  gap: 10px;
}

.home .project-tag {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}

.home>.card-container>.card>:last-child {
  justify-self: right;
}

.home>.card-container>.card>.options {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3vw;
  padding-right: 15px;
}

.home>.card-container>.card>.options:first-of-type {
  padding-right: 0px;
}

.home>.card-container>.card>.options>:first-child {
  background-color: green;
  height: 2vw;
  width: 2vw;
}

.home>.card-container>.card>.options>:last-child {
  color: white;
  font-size: 1.5vw;
  font-weight: 1000;
  background-color: red;
  border-radius: 40px;
}

.home>:last-child {
  font-family: 'Indie Flower';
  background-color: #FFFF8F;
  height: 1.6em;
  font-size: 1.5vw;
  font-weight: 600;
  padding: 10px 5px 0 5px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 0.75em;
}

/* create page styles */
.create-task {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFFF8F;
  padding-top: 40px;
}

.create-task h1, .create-task input, .create-task label, .create-task textarea, .create-task button  {
  font-family: 'Indie Flower';
  background-color: #FFFF8F;
  font-weight: 600;
}
.create-task h1 {
  width: 50%;
  text-align: center;
  border-bottom: 2px solid black;
}

.create-task label {
  font-size: larger;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.create-task input {
  border: 0;
  font-size: larger;
  border-bottom: 2px solid black;
  width: 80%;
  text-align: center;
  margin-left: 20px;
}

.create-task textarea {
  border: 2px solid black;
  font-size: large;
  width: 80%;
  height: 15vh;
  margin-left: 20px;
}

.create-task .buttons {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 30px;
}

.create-task button {
  border-radius: 5px;
}


textarea:focus, input:focus{
  outline: none;
}
.create-task>form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-top: 40px;
  gap: 20px;

}

/* footer styles */
.footer {
  text-align: center;
  background-color: #f2f2f2;
  border-top: 1px solid #d6d6d6;
}